<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoGestorEscolar.Properties.Settings.Gestion_EscolarConnectionString"
            connectionString="Data Source=david_Asus_Rog;Initial Catalog=Gestion_Escolar;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoGestorEscolar.Properties.Settings.Gestion_EscolarConnectionString1"
            connectionString="Data Source=david_asus_rog;Initial Catalog=Gestion_Escolar;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoGestorEscolar.Properties.Settings.Gestion_EscolarConnectionString2"
            connectionString="Data Source=JOSUE;Initial Catalog=Gestion_Escolar;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoGestorEscolar.Properties.Settings.GestionEscolarConnectionString"
            connectionString="Data Source=gestionescolar.database.windows.net;Initial Catalog=GestionEscolar;User ID=admin_gestion_escolar;Password=Cisco!23Cisco!23;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>